@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none; text-decoration:none; font-family:"微软雅黑"; font-size:14px; font-weight:normal; color:#333333; border:none; outline:none;}
img{ display:block;}
@font-face{font-family:book; src:url(BOOKOSBI.TTF)}
.clearfix{ clear:both;}
body{ background-color:#f2f2f2;}
/*页眉*/
.header_bg{ background-color:#fafafa; border-bottom:1px solid #d2d2d2; position:fixed;width:100%; z-index:1;}
.header{ max-width:1000px; margin:0 auto; }
.logo{ font-family:"book"; font-size:36px; float:left; margin-left:10px; line-height:80px; color:#292e33;}
.nav{ float:right; margin-right:50px;  line-height:80px;}
.nav li{ float:left; margin-left:30px;}
.nav a:hover{ color:#db4d4d;}

.nav_small{ float:right; margin-top:30px; margin-right:20px; display:none; cursor:pointer; font-size:18px;}
.nav_small dl{ position:absolute; width:120px;  right:0;  display:none; z-index:1;}
.nav_small dd{ background-color:rgba(0,0,0,0.5)}
.nav_small dd:hover{ background-color:#A0A0A4;}
.nav_small a{ color:white; margin-left:20px; font-size:16px;}
.nav_small > .show_small{ display:block;}
@media(max-width:830px){
	.nav{ display:none;}
	.nav_small{ display:block;}
}
/*流动广告*/
.banner_box{ max-width:1920px; margin:0 auto;  overflow:hidden;}
.banner{ float:left; margin-top:90px; width:232px; margin-right:10px;}
.move_box{ width:2500px; position:relative;}
/*公司简介*/
.about{ max-width:1000px; margin:0 auto; padding-bottom:10px;}
.about h1{ font-family:"book"; font-size:36px; line-height:100px; margin-top:50px; margin-bottom:20px; text-align:center; color:#292e33;}
.about p{ text-align:center; font-size:16px; margin-bottom:20px;}
.know{ width:150px; height:40px; border:1px solid #cacaca; margin:40px auto; border-radius:6px;  font-size:16px; display:block;
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(241,241,241) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(241,241,241) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(241,241,241) 100%);}
.know:hover{color:white; cursor:pointer;
			   background-image: -moz-linear-gradient( 90deg, rgb(26,26,26) 0%, rgb(36,36,36) 100%);
               background-image: -webkit-linear-gradient( 90deg, rgb(26,26,26) 0%, rgb(36,36,36) 100%);
               background-image: -ms-linear-gradient( 90deg, rgb(26,26,26) 0%, rgb(36,36,36) 100%);}
@media(max-width:800px){
	.about p{ text-align:left; padding:0px 15px;}
}

/*服务*/
.service{ background-color:gray; max-width:1000px; height:200px; margin:0 auto;}

/*套装*/

.suit{  max-width:1000px; margin:0 auto; padding-top:50px; }
.suit_box{ width:100%;}
.tl,.bl{ float:left;}
.tr,.br{ float:right;}
.tl,.br{ width:49%;  margin-bottom:2%;}
.tr,.bl{ width:49%;  margin-bottom:2%;}
.suit img{ width:100%;} 
@media(max-width:490px){
	.tl,.br{ width:100%;}
	.tr,.bl{ width:100%;}
}

/*热门产品*/
.product{ max-width:1000px; margin:0 auto; text-align:center;  padding-top:3%; overflow:hidden; position:relative;}
.big_text{  position:relative; max-width:220px; margin:0 auto; margin-bottom:66px; }
.product h1{ font-size:18px; color:#292e33;}
.product h2{ font-size:30px; color:#292e33;}
.lline{ position:absolute; top:50%; left:0;}
.rline{ position:absolute; top:50%; right:0;}
.move_pro{  width:9999px; position:relative; margin-bottom:50px;}
.move_pro img{ float:left; margin-right:20px;}
.product input{  width:40px; height:65px; position:absolute; background-color:black; border-radius:2px; opacity:0.1; }
.product input:hover{ opacity:0.5;}
.left{ bottom:175px; left:0px; color:white;; font-size:30px; font-weight:bold;}
.right{ bottom:175px; right:0px; color:white;; font-size:30px; font-weight:bold;}

/*新闻*/
.new{ max-width:1000px; margin:0 auto;  overflow:hidden; position:relative;}
.new h1{ font-size:18px; color:#292e33; text-align:center;}
.new h2{ font-size:30px; color:#292e33; text-align:center;}
.new_content{ border:1px solid #b2b2b2; float:left; max-width:318px; margin-right:20px; margin-bottom:50px;}
.new_content h3{ font-size:16px; line-height:50px; text-align:center;}
.new_time{ border-top:1px solid #b2b2b2;}
.new_time h4{ font-size:36px; color:#292e33; border-bottom:1px solid #b2b2b2; line-height:38px;}
.new_time h5{ color:#292e33; line-height:29px;}
.new_day{ float:left; border-right:1px solid #b2b2b2; width:24%; text-align:center;}
.new_p{  float:left; width:75%;}
.new_p p{ font-size:12px; text-indent:2em; padding-top:10px; padding-left:7px; line-height:18px;}

/*页脚*/
.foot_bg{ background-color:#fafafa; padding-top:50px;}
.foot_title{ font-size:16px; font-weight:bold; color:#292e33;}
.mc{ height:30px;}
.foot_title li{ color:#292e33;}